.App{
  display: grid;
  grid-template-columns: 
    "title ."
    "game controls";
  grid-template-columns: repeat(3, 1fr);
}

.row {
  display: flex;
}
.cell {
  width: 30px;
  aspect-ratio: 1;
  border: 1px solid black;
  
}
.board{
  border: 2px solid black;
  user-select: none;
  margin: auto;
  width: fit-content;
}
h1 {
  text-align: center;
}
.cell.Empty {
  background-color: rgb(200, 200, 200);
}

.cell.I {
  background-color: cyan;
}

.cell.J {
  background-color: blue;
}

.cell.L {
  background-color: orange;
}

.cell.O {
  background-color: yellow;
}

.cell.S {
  background-color: green;
}

.cell.T {
  background-color: purple;
}

.cell.Z {
  background-color: red;
}

.upcoming {
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
gap: 10px;

}

.cell.hidden {
  visibility: hidden;

}
